/*-----------------------------------------------------------------------------------

    Template Name: Your template name 
    Template URI: http://bootexperts.com
    Description: This is html5 template
    Author: BootExperts
    Author URI: http://bootexperts.com
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	
    1. Theme Default CSS (body, link color, section etc)

-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
html, body {height: 100%;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px solid}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 15px;}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
}
a {transition: all 0.3s ease 0s;text-decoration:none;}
a:hover {
  color: #ec4445;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.clear{clear:both}
body {}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.carousel-area{
	margin:50px 0px
}
.carousel-tab{
	text-align:center
}

.carousel-tab li{
	display:inline-block;
	padding:20px;
	border-bottom:4px double #ddd;
	margin-bottom:20px
}

.carousel-tab li a {
  color: #909295;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.carousel-tab li:hover{
	border-bottom:4px double red;
}
.carousel-tab li.active{
	border-bottom:4px double red;
}
.tab-content .tab-pane{
	display:block;
	height:0;
	overflow:hidden	
}
.tab-content .active{
	display:block;
	height:auto;
	overflow:visible	
}
.owl-controls .owl-nav div{
	background:#000;
	height:35px;
	width:35px;
	color:#fff;
	position:absolute;
	top:50%;
	margin-top:-15px;
	text-align:center;
	line-height:45px;
	
}

.owl-controls .owl-nav .owl-next{
	right:0;
	left:auto
}

